* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

@font-face {
  font-family: "MiSans";
  src: url("src/assets/fonts/woff2/MiSans-Regular.woff2");
}
@font-face {
  font-family: "MiSans";
  src: url("src/assets/fonts/woff2/MiSans-Thin.woff2");
  font-weight: 100;
}
@font-face {
  font-family: "MiSans";
  src: url("src/assets/fonts/woff2/MiSans-ExtraLight.woff2");
  font-weight: 300;
}
@font-face {
  font-family: "MiSans";
  src: url("src/assets/fonts/woff2/MiSans-Light.woff2");
  font-weight: 300;
}
@font-face {
  font-family: "MiSans";
  src: url("src/assets/fonts/woff2/MiSans-Normal.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "MiSans";
  src: url("src/assets/fonts/woff2/MiSans-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "MiSans";
  src: url("src/assets/fonts/woff2/MiSans-SemiBold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: "MiSans";
  src: url("src/assets/fonts/woff2/MiSans-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "MiSans";
  src: url("src/assets/fonts/woff2/MiSans-Demibold.woff2");
  font-weight: 800;
}
@font-face {
  font-family: "MiSans";
  src: url("src/assets/fonts/woff2/MiSans-Heavy.woff2");
  font-weight: 900;
}


body {
  background-color: #000;
  color: #fff;
  font-family: "MiSans";
}

#app {
  margin: 0 20px;
}
